html, body{
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: right;
  background-color: #EC7450;
}


#wrapper {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
	margin: 0 auto;
}

#sidenav {
  background-color: white;
}


#container {
  height: 100%;
  width: 100%;
	float: left;
}

.sidenav {
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  height: 100%;
  overflow:auto;
}

#search-bar input{
  height: 48px;
  margin-bottom: 23px;
}

div.card{
  border-radius: 4px;
  background-color: #DCDCDC;
  padding: 2px;
  margin-bottom: 0px;
  color: #EC7450;
}

div#card-menu{
  padding: 10px;
  border-radius: 4px;
  background-color: #DCDCDC;
  margin-bottom: 23px;
  color: #EC7450;
}

div#card-drivers{
  padding: 10px;
  border-radius: 4px;
  background-color: #DCDCDC;
  margin-bottom: 23px;
  color: #EC7450;
}

div.card-title {
  border-radius: 3px;
  font-color: #EC7450;
  background-color: white;
  text-align: left;
  padding-left: 3px;
  height: auto;
  overflow: hidden;
}

span#driver-name {
  color: #EC7450;
  font-weight: bold;
  float: left;
}

span#available-in {
  color: black;
  font-weight: bold;
  float: right;
  padding-right: 3px;
}

span#jobs {
  
  color: grey;
}

span#number {
  color: grey;
}

span#minutes {
  float:right;
  color: grey;
}

span#en-route {
  color: #EC7450;
  padding-left: 50px;
  font-weight: bold;
  float: right;
  padding-right: 3px;
}

span#warehouse {
  color: #EC7450;
  padding-right: 50px;
  display: block;
  float: left;
}

span#name {
  color: #66FFb2;
  padding-right: 50px;
  font-weight: bold;
  display: block;
  float: left;
}

span#due-date {
  color: #EC7450;
  padding-right: 50px;
  font-weight: bold;
  display: block;
  float: left;
}

div.card-header {
  padding: 5px;
  font-color: #C37869;
}

img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}


@media screen and (min-width: 420px) {
  img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
  }

  .sidenav {
    max-width: 100%;
    max-height: 100%;
  }
}


@media (max-width: 50em) {
   body {
      font-size: 200%;
      padding: 0 1.5em;
    }

}

@media only screen  and (min-width : 1224px) {
/* Styles */
  .sidenav {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
  .sidenav {
    max-width: 100%;
    max-height: 100%;
  }
}
