html, body{
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: right;
  background-color: tomato;
}

.navbar-header{
  font-weight: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  /*width:960px;*/
}

#wtf {
  background-color: white;
}

@media only screen and (max-width: 768px){

/* CSS Styles */
}


@media (max-width: 22em) {
   body {
      font-size: .9em;
      padding: 0 1.5em;
    }
}

#container {
  height: 100%;
  width: 100%;
}

.sidenav {
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  height: 100%;
  overflow:auto;
}

div.card{
  border-radius: 4px;
  background-color: #DCDCDC;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4.card-title {
  border-radius: 3px;
  font-color: tomato;
  background-color: white;
}

div.card-header {
  padding: 10px;
  font-color: tomato;
}

img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
