html, body{
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: right;
  background-color: tomato;
}


#wrapper {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
	margin: 0 auto;
}

#sidenav {
  background-color: white;
}


#container {
  height: 100%;
  width: 100%;
	float: left;
}

.sidenav {
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  height: 100%;
  overflow:auto;
}

div.card{
  border-radius: 4px;
  background-color: #DCDCDC;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4.card-title {
  border-radius: 3px;
  font-color: tomato;
  background-color: white;
}

div.card-header {
  padding: 10px;
  font-color: tomato;
}

img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px){


}

@media screen and (min-width: 420px) {
  img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
  }

  .sidenav {
    background-color: yellow;
    max-width: 100%;
    max-height: 100%;
  }
}


@media (max-width: 50em) {
   body {
      font-size: 200%;
      padding: 0 1.5em;
      background-color: black;
    }

}

@media only screen  and (min-width : 1224px) {
/* Styles */
  .sidenav {
    background-color: yellow;
    max-width: 100%;
    max-height: 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
  .sidenav {
    background-color: yellow;
    max-width: 100%;
    max-height: 100%;
  }
}
